/* Essas são as variáveis para usar no site e ficar mais escalável a edição das coisas */
:root {

  /* Variáveis de Cores */
  --cor-branco: #FFFFFF;
  --cor-preto: #000000;
  --cor-escuro: #0b0a17;
  --cor-principal: #ec3919;
  --cor-secundaria: #f68216;

  /* Variáveis de Fontes */
  --regular: 'mark-pro-regular';
  --bold: 'mark-pro-bold';
}
